<app-user></app-user>
<hr/>
<h3>Interpolation</h3>
Name : {{firstname}} {{lastname}} <br>

Age : {{age}}<br>

Email : {{email}} <br/>

Location:{{city}}<br>
<!-- For selecting only one hobby because hobbies are declared in array
Hobbies : {{hobbies[1]}} -->

<!-- For all hobbies  -->

Hobbies : {{hobbies}}<br/>
<!-- Address is a object to retrieve object we use following approach -->
Address : {{address.hno}} , {{address.street}} , {{address.district}}

<hr/>
<h3>Property Binding</h3>
<!-- Property Binding -->
First Number:<input type="text" #num1 name="num1" [value]="firstnumber"><br/><br/>
Second Number:<input type="text" #num2 name="num2" [value]="secondnumber"><br/><br/>
<button (click)="getAdd(num1.value,num2.value)">Add</button>
<h1>Sum : {{this.sum}}</h1>

<hr/>
<h3>Event Binding</h3>
<!-- Event Binding -->
<select (change)="changeColor($event.target.value)">
    <option value="Red">Red</option>
    <option value="Black">Black</option>
    <option value="Blue">Blue</option>
</select>

<h1>Selected Color : {{color}}</h1>

<input type="text" (keydown)="handletext($event.target.value)">
<h1>Text Entered:{{text}}</h1>
<hr/>
<h3>Class Binding</h3>
<!-- Class Binding -->
<p [class]="success">Success message</p>
<hr/>
<h3>Two-way Binding</h3>
Enter Message:<input type="text" [(ngModel)]="msg"/>
<h1>{{msg}}</h1>
<hr/>
<h3>ngFor Directive</h3>
<h4>Names</h4>
<ul>
    <li *ngFor = "let name of names">{{name}}</li>
</ul>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.number}}</td>
        </tr>
    </tbody>
</table>
<hr>
<h3>Pipe</h3>
{{firstname | uppercase}}<br/>
{{users | json}}

<hr>
<h2>Service</h2>
<h3>All Users</h3>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of allUsers">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
        </tr>
    </tbody>
</table>
<hr>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="blog">Blog</a>
          </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
